.fritekst-avsnitt-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.knappe-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
