.grid5 {
    display: grid;
    grid-template-columns: max-content max-content fit-content(600px) max-content max-content;
    gap: 0.5rem 1.5rem;
    align-items: start;
}

.grid6 {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    gap: 0.5rem 1.5rem;
    align-items: start;
}

.grid5 > :nth-child(4) {
    grid-column: 1;
}

.grid6 > :nth-child(5) {
    grid-column: 1;
}
