.container {
    display: grid;
    grid-template-columns: minmax(auto, 350px) auto;
    gap: 4rem;
}

.container-undervilkar {
    border-left: 5px solid var(--ax-border-accent);
    padding-left: 1rem;
    gap: 3rem;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 1rem;
    }
}
