.brevside {
    background-color: var(--a-bg-subtle);
    padding: 2rem 2rem 0 2rem;
}

.behandlingPaVent {
    padding: 2rem 2rem 0 2rem;
}

.brevContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    justify-content: space-between;
}

@media only screen and (max-width: 1800px) {
    .brevContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
}

.alertStripe {
    margin-top: 2rem;
}

.knapp {
    margin-top: 2rem;
}
