.dokumentWrapper {
    width: 100%;
    align-self: start;
    position: sticky;
    top: 145px;
    left: 0;
}

.pdfIframe {
    width: 100%;
    height: calc(100vh - 165px);
    border: none;
    box-shadow:
        0 4px 4px rgb(0 0 0 / 25%),
        0 0 2px rgb(0 0 0 / 25%);
}
