.dokument {
    margin: 0.5rem auto;
}

.dokument :global(.react-pdf__Page__canvas) {
    box-shadow:
        0 4px 4px rgb(0 0 0 / 25%),
        0 0 2px rgb(0 0 0 / 25%);
    margin: 0 auto;
}

.dokumentWrapper {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    position: sticky;
    top: 145px;
    left: 0;
}
