.ribbon {
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 80px;
    z-index: 1;
    top: -5px;
    right: -5px;
    pointer-events: none;
}

.ny {
    --hovedfarge: var(--ax-bg-success-moderate-hover);
    --skygge: var(--ax-bg-success-strong);
}

.endret {
    --hovedfarge: var(--ax-bg-warning-moderate-hover);
    --skygge: var(--ax-bg-warning-strong);
}

.slettet {
    --hovedfarge: var(--ax-bg-neutral-moderate-hover);
    --skygge: var(--ax-bg-neutral-strong);
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 2.5px solid var(--skygge);
    border-top-color: transparent;
    border-right-color: transparent;
}

.ribbon::before {
    top: 0;
    left: 0;
}

.ribbon::after {
    bottom: 0;
    right: 0;
}

.ribbon p {
    position: absolute;
    display: block;
    width: 113px;
    padding: 5px 0;
    background-color: var(--hovedfarge);
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    font-weight: 600;
    text-align: center;
    left: -6px;
    top: 15px;
    transform: rotate(45deg);
}
