.sorteringWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.pil {
    transition: transform 0.1s ease;
}

.pilSnudd {
    transform: rotate(180deg);
}
