.container {
    padding-top: 1rem;
}

.to-kolonner {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;

    @media (width <= 1149px) {
        grid-template-columns: 1fr;
    }
}
