.container {
    border-right: 1px solid var(--ax-border-neutral);
    width: 24rem;
    position: sticky;
    height: calc(100vh - 97px);
    top: 97px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
}

.hviteTabs {
    flex: 1;
    background-color: var(--ax-bg-default);
}

.tab {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
