.behandlingContainer {
    display: flex;
    background: var(--ax-bg-neutral-soft);
}

.innholdWrapper {
    flex-grow: 1;
    max-width: calc(100% - 24rem);
}

.kjørelistebehandlingContainer {
    background: var(--ax-bg-neutral-soft);
}
