.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: calc(100vh - 3.5rem);
}

.venstreKolonne {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 43.05rem;
    padding: 1rem 2rem 10rem 1rem;
    flex-shrink: 0;
}
