.ikonContainer {
    color: var(--ax-bg-accent-strong);
}

.expansionCardHeader {
    padding-bottom: 0.25rem;
}

.expansionCardContent {
    padding-bottom: 1rem;
}

.maxWidth {
    max-width: 13rem;
}

.marginLeft {
    margin-left: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 1.5rem;
}
