.headingContainer {
    margin: 2rem 5rem 0;
}

@media (width <= 1149px) {
    .tidslinjeContainer {
        display: flex;
        justify-content: center;
    }
}

@media (width >= 1150px) {
    .tidslinjeContainer {
        margin-top: 12rem;
    }
}

@media (width <= 1449px) {
    .tidslinjeContainerOpen {
        display: flex;
        justify-content: center;
    }
}

@media (width >= 1450px) {
    .tidslinjeContainerOpen {
        margin-top: 12rem;
    }
}
