.headingContainer {
    margin: 2rem 5rem 0rem 5rem;
}

.tidslinjeContainer {
}

@media (max-width: 1149px) {
    .tidslinjeContainer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1150px) {
    .tidslinjeContainer {
        margin-top: 12rem;
    }
}

.tidslinjeContainerOpen {
}

@media (max-width: 1449px) {
    .tidslinjeContainerOpen {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1450px) {
    .tidslinjeContainerOpen {
        margin-top: 12rem;
    }
}
