.container {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.header {
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.innhold {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
