.container {
    display: flex;
    margin: 2rem;
    border-bottom: 3px solid var(--ax-border-neutral-subtle);
}

@media (width <= 1600px) {
    .container {
        flex-direction: column;
    }
}

.venstreKolonne {
    padding: 1.5rem 0;
    width: 50%;
    max-width: 50rem;
}

@media (width <= 1600px) {
    .venstreKolonne {
        width: 100%;
    }
}

.hoyreKolonne {
    padding: 1.5rem 0;
    width: 50%;
    max-width: 50rem;
}

@media (width <= 1600px) {
    .hoyreKolonne {
        width: 100%;
    }
}
