.radSentrertVertikalt {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.visFormkravContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sporsmalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 0.4rem solid var(--ax-border-meta-purple);
    padding-left: 2rem;
}

.svarElement {
    padding: 0;
    font-size: 1rem;
    list-style-type: none;
}

.sporsmal {
    padding: 0;
    width: 40%;
    font-weight: bold;
}

.svar {
    padding: 0.5rem 0;
    width: 13rem;
}

.vilkarIkon {
    margin: 0 1.5rem 0 -0.7rem;
}

.brukerMedBlyantIkon {
    overflow: visible;
}

.fritekstWrapper {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.lagreKnapp {
    margin-top: 1rem;
    margin-right: auto;
}

.alert {
    margin-top: 1rem;
    align-self: flex-start;
    padding-right: 5rem;
}
