.container {
    display: flex;
    flex-shrink: 2;
}

.container > * {
    padding-bottom: 64px;
}

.menu {
    border-left: 2px solid var(--ax-border-focus);
    flex-shrink: 1;
    flex-grow: 0;
    width: 1.5rem;
    min-width: 1.5rem;
    transition: all 0.25s;
}

.menuOpen {
    width: 20rem;
    min-width: 20rem;
}

.content {
    flex: 1 0 0;
    min-width: 0;
    max-width: 100%;
    z-index: 9;
}

.contentOpen {
    max-width: calc(100% - 20rem);
}
