.table {
    margin-bottom: 2rem;
}

.label {
    margin-bottom: 1rem;
    display: block;
}

.reise-section {
    margin-bottom: 3rem;
}

.reise-heading {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
