.link {
    border-bottom: 5px solid white;
    color: inherit;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.link:hover {
    border-bottom: 5px solid var(--ax-text-accent-subtle);
}

.link:hover p {
    color: var(--ax-text-accent);
}

.active {
    background-color: var(--ax-bg-neutral-soft);
    border-bottom: 5px solid var(--ax-text-accent);
}

.active .typo-normal {
    font-weight: bold;
}

.linkText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text {
    border-bottom: 5px solid white;
    color: var(--ax-text-neutral);
    text-align: center;
    text-decoration: none;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 1rem 5px;
}
