.mottaker-boks {
    padding: 10px;
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background: rgba(196, 196, 196, 0.2);
}

.flexboks {
    display: flex;
    flex-direction: column;
}
