.seks-kolonner-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--ax-bg-neutral-moderate);
}

.tre-kolonner-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem 4rem;
    width: fit-content;
}
