.container {
    min-height: 110px;
    position: relative;
    display: grid;
    grid-template-columns: 26px 1fr;
    border-radius: 12px;
    border: 1px solid var(--ax-border-neutral-subtle);
    border-bottom: none;
    box-shadow: var(--ax-shadow-dialog);
}

.innholdContainer {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin-right: 3rem;
}

.innholdContainer.redigeres {
    margin-right: 0;
}

.resultatMarg {
    border-radius: 11px 0 0 11px;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.resultatFargeInfo {
    background-color: var(--ax-bg-info-strong);
}

.resultatFargeSuccess {
    background-color: var(--ax-bg-success-strong);
}

.resultatFargeDanger {
    background-color: var(--ax-bg-danger-strong);
}

.resultatFargeWarning {
    background-color: var(--ax-bg-warning-moderate-pressed);
}

.resultatFargeNeutral {
    background-color: var(--ax-bg-neutral-strong);
}

.resultatFargeDefault {
    background-color: var(--ax-bg-default);
}

.redigeringsknappContainer {
    right: 1rem;
    bottom: 1rem;
    position: absolute;
    align-items: center;
}
