.graTekst {
    color: var(--ax-text-neutral-subtle);
}

.statusMenyInnhold {
    display: none;
    position: absolute;
    background-color: white;
    right: 1rem;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.statusMenyInnholdOpen {
    display: block;
}

.statusMenyInnhold ul,
.statusMenyInnhold li {
    margin: 0;
}

.statusMenyInnhold ul {
    padding: 0.5rem;
}

.statusMenyInnhold li {
    padding: 0;
    list-style-type: none;
}

.visStatuserKnapp {
    color: var(--ax-text-neutral);
}

.visStonadOgBehandlingstypePaLitenSkjerm {
    display: block;
}

@media screen and (min-width: 760px) {
    .visStonadOgBehandlingstypePaLitenSkjerm {
        display: none;
    }
}

.statuser {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media screen and (max-width: 1700px) {
    .statuser {
        display: none;
    }
}

.statuserLitenSkjerm {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media screen and (min-width: 1700px) {
    .statuserLitenSkjerm {
        display: none;
    }
}

.status {
    display: flex;
    width: 100%;
    margin-right: 1.3rem;
    gap: 0.5rem;
}

.statusKunEttElement {
    margin-right: 0;
}

.status > p {
    font-size: 14px;
    margin: 0.2rem;
}
