:root {
    --kolonne-1: 1.75rem;
    --kolonne-2: 4.5rem;
    --kolonne-3: 4rem;
    --kolonne-4: 4.25rem;
    --kolonne-5: 5.5rem;
    --kolonne-6: 7.75rem;
    --kolonne-7: auto;

    --kolonne-5-redigering: 7rem;
}

.wrapper {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1.5rem;
}

.border-topp-bunn {
    border-top: 1px solid var(--ax-border-neutral);
    border-bottom: 1px solid var(--ax-border-neutral);
}

.grid-overskrifter,
.venstre-grid,
.høyre-grid,
.høyre-grid-redigering {
    display: grid;
    column-gap: 1.5rem;
}

.venstre-grid,
.høyre-grid,
.høyre-grid-redigering {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.venstre-grid {
    padding-left: 1rem;
    grid-template-columns: var(--kolonne-1) var(--kolonne-2) var(--kolonne-3) var(--kolonne-4);
}

.bakgrunn-og-border {
    background: var(--ax-bg-neutral-moderate);
    border-right: 1px solid var(--ax-border-neutral);
}

.høyre-grid {
    padding-right: 1rem;
    grid-template-columns: var(--kolonne-5) var(--kolonne-6) var(--kolonne-7);
}

.høyre-grid-redigering {
    padding-right: 1rem;
    grid-template-columns: var(--kolonne-5-redigering) var(--kolonne-6) var(--kolonne-7);
}

.maks-høyde  {
    max-height: 2rem;
}
