.grid {
    display: grid;
    grid-template-columns: 4.5rem auto;
    align-items: center;
}

.slettet {
    text-decoration: line-through;
}

.uke-kolonne {
    width: 2rem;
}

.periode-kolonne {
    width: 11rem;
}

.vurdering-kolonne {
    width: 8rem;
}

.status-kolonne {
    margin-right: 0;
}

.utbetalt-kolonne {
    width: 7rem;
    align-items: end;
}

.levert-dato-kolonne {
    width: 10rem;
    align-items: end;
}
