.fritekstFeltWrapper {
    margin: 2rem 4rem 2rem 4rem;
    max-width: 50rem;
}

.alert {
    margin: 2rem 4rem 2rem 4rem;
    width: 25rem;
}

.vurderingKnapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4rem;
}
