.pilVenstreIkon {
    border-radius: 0;
    margin-top: 3px;
    margin-right: 2px;
    color: white;
}

.pilHoyreIkon {
    border-radius: 0;
    margin-top: 3px;
    color: white;
}

.apneLukkeKnapp {
    position: absolute;
    background-color: var(--ax-bg-info-strong);
    margin-left: -12px;
    top: 200px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 22;
}

.hoyremeny {
    width: 100%;
}
