.ikonWrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--ax-border-focus) solid 2px;
    text-align: center;
}

.ikonWrapper .typo-normal {
    font-size: 12px;
    margin-top: -5px;
}

.ikon {
    flex: 1;
    padding-top: 1rem;
    padding-bottom: 0.62rem;
    background-color: white;
    color: var(--ax-bg-accent-strong);
    border-bottom: 5px solid white;
}

.ikon:hover {
    cursor: pointer;
    border-bottom: 5px solid var(--ax-border-accent);
}

.ikon:hover svg {
    fill: var(--ax-border-accent);
}

.ikonAktiv {
    background-color: var(--ax-bg-neutral-soft);
    border-bottom: 5px solid var(--ax-border-accent);
}
